.App {
	margin-top: 40px;
    text-align: center;
}

h1 {
	font-size: 42px;
    margin-bottom: 60px;
}

.weather-container {
	display: flex;
}

.weekly-weather-days-list {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.today-weather {
    width: 25%;
}

.today-weather .h3-title {
	margin-bottom: 40px;
}

.today-weather .temp {
	font-size: 28px
}

.today-weather .feels-like {
	font-size: 20px
}

.weekly-weather {
	width: 75%;
}

.weekly-weather .daily-weather {
	margin: 0 10px;
}

.h3-title {
	font-size: 32px;
    margin: 0px;
}

.temp {
	font-size: 20px;
    margin: 10px auto;
}

.weekly-weather .daily-weather .temp {
	font-size: 18px;
}

.feels-like {
	font-size: 16px;
}

.daily-weather .day {
	font-size: 18px;
}
